#controltable tr,td{
	vertical-align: bottom;
	}
#equipmentbutton{
	width: 100px;
}
#counter{
	text-align: center;
	width: 80%;
    
}

#bottlecartesius{
	border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 50%;

}
#formtable{
    text-align: center;
    width: 80%;
    
   }

#equipmentsimg{
	border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
	 width:270px;
	  margin: 20px;
}
#tableimg{
	width:600px;
}
#buttondescription{
	text-align: center;
}
#equipmentbutton
{
	text-align: center;
}
@media only screen and (orientation: portrait) and (max-width: 980px) {
	/*Equipments*/
    #equipmentbutton{
  		font-size: 100%;
  		width: 100px;
  		height: 100px;


	}
	#buttondescription{
		font-size: 250%;
	}
	
	#equipmenttitle{
		font-size: 400%;
	}

	#equipmentbuttondesc{
	height: 10%;
	font-size: 200%;
}
	#dropdownequipments{
		font-size: 250%;
	}

	/*Regisztráció*/
	#registertitle{
		font-size: 800%;
	}
	#registerinput{
		font-size: 250%;
	}
	#registerlabel{
		font-size: 350%;
	}
	#registerbutton{
		font-size: 400%;
	}
	#interestoption{
		font-size: 280%;
	}
	#interestcheckbox{
		width: 50px;
            height: 50px;
	}
	#interestothertext{
		size: 100px;
		height: 50px;
		font-size: 200%;
	}


}
@media only screen and (orientation: landscape) and (max-width: 980px) {
	
	#equipmentbutton{
  font-size: 160%;
}
#euipmentsimg{
	width: 200px;
}
#equipmentbuttondesc{
	height: 10%;
	font-size: 150%;
}

/*Regisztráció*/
	#registertitle{
		font-size: 800%;
	}
	#registerinput{
		font-size: 250%;
	}
	#registerlabel{
		font-size: 350%;
	}
	#registerbutton{
		font-size: 400%;
	}
	#interestoption{
		font-size: 280%;
	}
	#interestcheckbox{
		width: 50px;
            height: 50px;
	}
	#interestothertext{
		size: 100px;
		height: 50px;
		font-size: 200%;
	}



@media (min-width: 981px) {

}